@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="card">
        <h5 class="card-header">Danh Sách Tài Khoản</h5>

        <!-- Hiển thị thông báo thành công -->
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        <!-- Hiển thị thông báo lỗi -->
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Tài Khoản</th>
                        <th>Email</th>
                        <th>Loại Tài Khoản</th>
                        <th>Trạng Thái</th>
                        <th>Xem TK</th>
                        <th>Hành Động</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserId</td>
                            <td>@user.Username</td>
                            <td>@user.Email</td>
                            <td>@user.UserType</td>
                            <td>Chưa Có</td>
                            <td>
                                <a href="@Url.Action("AccountDetail", "Admin", new { id = user.UserId })" class="btn btn-info">Chi Tiết</a>
                            </td> 
                            <td>
                                <a href="@Url.Action("ConfirmDeleteAccount", "Admin", new { id = user.UserId })" class="btn btn-danger">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>
